@page "/weather"
@rendermode InteractiveServer

<PageTitle>Wetter</PageTitle>

<h1 class="page-title">Wetter</h1>

<div class="weather-page">
    <WeatherTile Variant="WeatherTile.WeatherVariant.Today" />
    <WeatherTile Variant="WeatherTile.WeatherVariant.Hourly" />
    <WeatherTile Variant="WeatherTile.WeatherVariant.Tomorrow" />
</div>
